@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

:root {
  --active-button-mixed: color-mix(
    in srgb,
    var(--third-accent-color) 40%,
    transparent 60%
  );
  --saved-button-mixed: color-mix(
    in srgb,
    var(--fourth-accent-color) 40%,
    transparent 60%
  );
  --hover-button-mixed: color-mix(
    in srgb,
    var(--third-accent-color) 25%,
    transparent 85%
  );
  --label-unfocused-mix: color-mix(
    in srgb,
    var(--background-color) 85%,
    var(--third-accent-color) 15%
  );
  --label-focused-mix: color-mix(
    in srgb,
    var(--background-color) 85%,
    var(--fourth-accent-color) 15%
  );
}

@mixin button-styles {
  border-radius: 0.2em !important;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  font-size: 1.4em;
}

$UIGap: 0.5em;

.emoticons-popup {
  border-radius: 0.4em !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15) !important;
  opacity: 0;
  transition: opacity 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  position: fixed;
  display: grid;
  grid-template-rows: 50px auto;
  padding: $UIGap;
  gap: $UIGap;
  background-color: var(--background-color, var(--popup-background));
  border: 1px solid var(--border-color, transparent);
  z-index: 2000;
  top: 10vh;
  left: 50vw;
  transform: translateX(-50%);
  min-width: 300px;
  width: 800px;
  max-height: 90vh;
  overflow: hidden;

  .header-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $UIGap;

    .clear-button {
      @include button-styles;
      background: hsl(40deg 50% 15%);
      border: 2px solid hsl(40deg 50% 25%);

      svg {
        stroke: hsl(40deg 50% 60%);
      }
    }

    .close-button {
      @include button-styles;
      background: hsl(0deg 50% 15%);
      border: 2px solid hsl(0deg 50% 25%);

      svg {
        stroke: hsl(0deg 50% 60%);
      }
    }

    .header-button {
      transition: filter 0.15s;

      &:hover {
        filter: brightness(1.1);
      }
    }

    .category-buttons {
      display: flex;
      justify-content: center;
      gap: $UIGap;
      font-family: "Noto Color Emoji", sans-serif !important;

      .category-button {
        @include button-styles;
        text-shadow: 0 0 0.6px #000000db;
        background: var(--highlight-color, var(--default-button));

        &.active {
          background: var(--active-button-mixed, var(--active-button));
        }

        &:hover {
          background: var(--hover-button-mixed, var(--hover-button));
        }

        &.disabled {
          opacity: 0.5;
          pointer-events: none;
        }
      }
    }
  }

  .label {
    font-size: 0.9em !important;
    font-weight: normal !important;
    color: var(--third-accent-color, var(--selected-button));
    padding: 0.2em 0.6em;
    border-radius: 0.2em !important;
    border: 1px solid transparent;
    background-color: var(--label-unfocused-mix, var(--default-button));
    display: inline-flex;
    margin: 1em 0 0.5em 0;
  }

  .label.focused-section {
    color: var(--fourth-accent-color, var(--default-button));
    background-color: var(--label-focused-mix, var(--selected-button));
  }

  .recent-emoticon-buttons {
    display: flex;
    flex-wrap: wrap;

    .emoticon-button {
      height: fit-content;
    }
  }

  .category-emoticon-buttons {
    display: grid;
  }

  .recent-emoticon-buttons,
  .category-emoticon-buttons {
    gap: $UIGap;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .emoticon-button {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0.2em !important;
      border: none;
      cursor: pointer;
      position: relative;
      background: var(--highlight-color, var(--default-button));
      padding: $UIGap;

      img {
        display: block;
      }

      &.selected {
        background: var(--active-button-mixed, var(--selected-button));
      }

      &.favorite {
        background: var(--saved-button-mixed, var(--active-button));
      }

      &:hover {
        background: var(--hover-button-mixed, var(--hover-button));
      }
    }
  }
}

.emoticons-toggle {
  position: fixed !important;
  bottom: 5em !important;
  right: -1px !important;
  transform: translateY(-50%) !important;
  z-index: 1050 !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  padding: 0.4em !important;
  background-color: var(--foreground-color, #17191c) !important;
  font-size: 18px !important;
  font-family: "Noto Color Emoji", sans-serif !important;
  font-weight: bold !important;
  border: 1px solid var(--border-color, #4d4d4d) !important;
  border-radius: 0.4em 0 0 0.4em !important;
  cursor: pointer !important;
  transition: background 0.2s ease, opacity 0.2s ease !important;

  &:hover {
    background-color: var(--background-color, #17191c80) !important;
  }
}

@media screen and (max-width: 1200px) {
  .emoticons-popup {
    width: 100%;
    top: 30px;
    max-height: 70vh;

    .recent-emoticon-buttons,
    .category-emoticon-buttons {
      max-height: calc(70vh - 70px);
    }
  }
}

@media screen and (max-width: 530px) {
  .emoticons-popup {
    display: flex;
    flex-direction: row;
    top: 0;

    .header-buttons {
      flex-direction: column;
      justify-content: flex-start;

      button {
        width: 40px !important;
        height: 40px !important;

        svg {
          width: 18px !important;
          height: 18px !important;
        }
      }

      .category-buttons {
        flex-direction: column;

        .category-button {
          font-size: 1.2em;
        }
      }
    }

    .recent-emoticon-buttons,
    .category-emoticon-buttons {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      min-height: 320px;
      height: fit-content;

      .emoticon-button {
        min-height: 40px;
        min-width: 40px;
        height: fit-content;
      }
    }
  }
}
